
/* CSS */
.button-red {
  align-items: center;
  background-color: #970404;
  border: 0;
  border-radius: 00px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-red:hover,
.button-red:focus { 
  background-color: #ff0000;
  color: #ffffff;
}

.button-red:active {
  background: #f83003;
  color: rgba(222, 13, 13, 0.7);
}

.button-red:disabled { 
  cursor: not-allowed;
  background: rgba(246, 6, 6, 0.08);
  color: rgba(235, 12, 12, 0.3);
}

/* footer */

