
.maison_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 80px;
    margin-right: 220px;
    margin-top: 30px;
    background-color: #bde0fe;

    
} 
.maison_button:hover{
    background-color: #0077b6;
}

.home_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #bde0fe;
} 
.home_button:hover{
    background-color: #0077b6
}

.aboutus_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #bde0fe;
} 
.aboutus_button:hover{
    background-color: #0077b6;
}

.properties_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 120px;
    margin-top: 30px;
    background-color: #bde0fe;
}
.properties_button:hover{
    background-color: #0077b6;
} 

.findhome_button{
    font-weight: bold;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 200px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: #bde0fe;
} 
.findhome_button:hover{
    background-color: #0077b6;
}

.getstarted_button{
    background-color: #00509d;
    color: white;
    font-weight: bold;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 30px;  
    transition: opacity 1s; 
}
.getstarted_button:hover{
    opacity: 0.8;
}

.location_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 160px;
    margin-right: 120px;
    margin-top: 30px;
}

.bhk_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 120px;
    margin-top: 30px;
}

.bathroom_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 120px;
    margin-top: 30px;
}

.area_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 120px;
    margin-top: 30px;
}

.predict_button{
    font-weight: bold;
    border: none;
    height: 36px;
    width:105px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 120px;
    margin-top: 30px;
}

.main_line{
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    width: 350px;
    line-height:80px;
    margin-top: 50px;
    margin-left: 60px;
}

.second_line{
    font-family: Arial; 

    font-size: 20px;
    width: 480px;
    line-height:50px;

    margin-left: 60px;
}

.third_line{
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    width: 600px;
    line-height:70px;

    margin-left: 160px;

}



