
.search-form {
    margin: 20px;
    border: 1px solid #0077b6;
    padding: 10px;
    margin-left: 800px;

  }
  
  .search-button {
    display: flex;
    margin-bottom: 10px;
  }
  
  .search-button input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .search-button button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .search-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .search-form select {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .search-form input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100px;
  }