/* .home{
  width: 100px;
  display: inline-block;
}
.home_button{
  font-weight: bold;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #bde0fe;
} 
.home_button:hover{
  background-color: #0077b6
}


.aboutus{
  width: 200px;
  display: inline-block;
}
.aboutus_button{
  font-weight: bold;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 60px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #bde0fe;
} 
.aboutus_button:hover{
  background-color: #0077b6;
}

.contatctus{
  width: 400px;
  display: inline-block
}
.contactus_button{
  font-weight: bold;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 90px;
  margin-right: 100px;
  margin-top: 30px;
  background-color: #bde0fe;
} */
/* .properties_button:hover{
  background-color: #0077b6;
} 


.findhome_button{
  font-weight: bold;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 200px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #bde0fe;
} 
.findhome_button:hover{
  background-color: #0077b6;
} */


.top-buy:hover,
    .top-sell:hover,
    .top-rent:hover {
        background-color: blue;
        color: white; 
    }

.home:hover,
.aboutus:hover,
.contactus:hover{
  text-decoration: underline;
}








































/* .maison_button{
  font-weight: bold;
  border: none;
  height: 36px;
  width:105px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 80px;
  margin-right: 220px;
  margin-top: 30px;
  background-color: #bde0fe;
  width:80px;
  display: inline-block;
} 
.maison_button:hover{
  background-color: #0077b6;
}

.home_button{
  font-weight: bold;
  border: none;
  height: 36px;
  width:105px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #bde0fe;
} 
.home_button:hover{
  background-color: #0077b6
}

.aboutus_button{
  font-weight: bold;
  border: none;
  height: 36px;
  width:105px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #bde0fe;
} 
.aboutus_button:hover{
  background-color: #0077b6;
}

.properties_button{
  font-weight: bold;
  border: none;
  height: 36px;
  width:105px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 120px;
  margin-top: 30px;
  background-color: #bde0fe;
}
.properties_button:hover{
  background-color: #0077b6;
} 

.findhome_button{
  font-weight: bold;
  height: 36px;
  width:105px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 200px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #bde0fe;
  width:50px;
  display: inline-block;
} 
.findhome_button:hover{
  background-color: #0077b6;
}


.home-prop{
  width:600px;
  display: inline-block;
}

.find-home{
  width:350px;
  display: inline-block;
}

.heading-line{
  width:690px;
  display: inline-block;
}

.fifth-div{
  width:690px;
  display: inline-block;
}

.mini-seven{
  width:230px;
  display: inline-block;
}

.mini-eight{
  width:230px;
  display: inline-block;
}

.mini-nine{
  width:230px;
  display: inline-block;
} */
